### Ce notebook a pour objet de générer une table de correspondance entre les joueurs du dataset games et ceux du dataset FIFA.
### Pour cela on se sert des résultats obtenus grace au notebooks Name_matching et Name_matching_DoB

In [2]:
import pandas as pd
import numpy as np
import re
from fuzzywuzzy import fuzz
import ast # ast is part of python standard's library. 
from tqdm import tqdm
import inspect
import re
tqdm.pandas()

In [2]:
def link_process(link_N):
    link_str = retrieve_name(link_N)
    link_N['which_fifa']=link_str[-2:]
    return link_str

In [3]:
def transform_str_column(x):
    if x[0] == r'[':
        res = re.sub(r'(\w)\s+(\w)',r'\1 , \2',x.replace('\n',''))
        res = re.sub(r'(\w)\s+(\w)',r'\1 , \2',res)
        res = ast.literal_eval(res) 
        #res = [str(y) for y in res]
    else:
        res = str(x)
    return res

In [4]:
#Use this function into a function that is itself into a list comprehension to retrieve the name of a variable passed as an argument of the function
#to use this into a function, delete one '.f_back', to use it in the script, delete two
def retrieve_name(var):
    callers_local_vars = inspect.currentframe().f_back.f_back.f_back.f_locals.items()
    return [var_name for var_name, var_val in callers_local_vars if var_val is var][0]

#example
a=2
b=3

def foo(bar):
    return retrieve_name(bar)
#print(foo(a))
[foo(x) for x in [a,b]]

['a', 'b']

In [5]:
appearance = pd.read_csv('../data/games/appearance.csv')
clubs = pd.read_csv('../data/games/clubs.csv')
leagues = pd.read_csv('../data/games/leagues.csv')
games = pd.read_csv('../data/games/games.csv')
players = pd.read_csv('../data/games/players.csv')

In [3]:
fifa15 =pd.read_csv('../data/FIFA/players_15.csv')
fifa16 =pd.read_csv('../data/FIFA/players_16.csv')
fifa17 =pd.read_csv('../data/FIFA/players_17.csv')
fifa18 =pd.read_csv('../data/FIFA/players_18.csv')
fifa19 =pd.read_csv('../data/FIFA/players_19.csv')
fifa20 =pd.read_csv('../data/FIFA/players_20.csv')
fifa21 =pd.read_csv('../data/FIFA/players_21.csv')
fifa22 =pd.read_csv('../data/FIFA/players_22.csv')

/Users/pierreadda/opt/anaconda3/envs/foot_env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (104) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/pierreadda/opt/anaconda3/envs/foot_env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (81,82,83,84,85) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/pierreadda/opt/anaconda3/envs/foot_env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (25,108) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
players.position.unique()

In [ ]:
appearance.player_id = appearance.player_id.astype(np.int32)
players.player_id = players.player_id.astype(np.int32)

In [ ]:
%%time
dd=appearance.player_id.progress_apply(lambda x: players.loc[players.player_id == x,:])

In [ ]:
dd

In [ ]:
players.loc[:,'position'].unique()
appearance.head()

In [ ]:
appearance.loc[appearance]

In [4]:
link15 =pd.read_csv('../data/table_correspondance/links_no_DoB/link_fifa15.csv',index_col = 0)
link16 =pd.read_csv('../data/table_correspondance/links_no_DoB/link_fifa16.csv',index_col = 0)
link17 =pd.read_csv('../data/table_correspondance/links_no_DoB/link_fifa17.csv',index_col = 0)
link18 =pd.read_csv('../data/table_correspondance/links_no_DoB/link_fifa18.csv',index_col = 0)
link19 =pd.read_csv('../data/table_correspondance/links_no_DoB/link_fifa19.csv',index_col = 0)
link20 =pd.read_csv('../data/table_correspondance/links_no_DoB/link_fifa20.csv',index_col = 0)
link21 =pd.read_csv('../data/table_correspondance/links_no_DoB/link_fifa21.csv',index_col = 0)
link22 =pd.read_csv('../data/table_correspondance/links_no_DoB/link_fifa22.csv',index_col = 0)

In [ ]:
link_list = [link15,link16,link17,link18,link19,link20,link21,link22]
[link_process(x) for x in link_list]

In [ ]:
type(link16.clubs[1])

In [ ]:
link = pd.concat(link_list)
link.head(2)

In [ ]:
link.drop(columns = ['clubs','fifa_clubs'], inplace = True)

In [ ]:
link.shape

In [ ]:
link.to_csv('../data/table_correspondance/table_correspondance_no_DoB.csv')

In [ ]:
len(link.player_id.unique())

In [5]:
link15 =pd.read_csv('../data/table_correspondance/links_DoB/link_fifa15.csv',index_col = 0)
link16 =pd.read_csv('../data/table_correspondance/links_DoB/link_fifa16.csv',index_col = 0)
link17 =pd.read_csv('../data/table_correspondance/links_DoB/link_fifa17.csv',index_col = 0)
link18 =pd.read_csv('../data/table_correspondance/links_DoB/link_fifa18.csv',index_col = 0)
link19 =pd.read_csv('../data/table_correspondance/links_DoB/link_fifa19.csv',index_col = 0)
link20 =pd.read_csv('../data/table_correspondance/links_DoB/link_fifa20.csv',index_col = 0)
link21 =pd.read_csv('../data/table_correspondance/links_DoB/link_fifa21.csv',index_col = 0)
link22 =pd.read_csv('../data/table_correspondance/links_DoB/link_fifa22.csv',index_col = 0)

In [10]:
link_list = [link15,link16,link17,link18,link19,link20,link21,link22]
[link_process(x) for x in link_list]
link_DoB = pd.concat(link_list)

In [11]:
print(len(player_IDs := link_DoB.player_id.unique()))

16098

In [49]:
link_DoB.to_csv('../data/table_correspondance/table_correspondance_DoB.csv')

In [6]:
link = pd.read_csv('../data/table_correspondance/table_correspondance_no_DoB.csv',index_col = 0)
link_DoB = pd.read_csv('../data/table_correspondance/table_correspondance_DoB.csv',index_col = 0)

In [7]:
link_DoB.head()

,player_id,name,fifa_index,name_compare,sofifa_id,which_fifa
0,38790,dmitri golubov,5626,dmitriy golubov,147752,15
1,106539,aleksandr vasiljev,14253,alexandr vasiliev,203086,15
2,164389,rory donnelly,7003,rory donnelly,207642,15
3,45247,damien perquis,3993,damien perquis,116917,15
4,97205,nikita bezlikhotnov,11601,nikita bezlikhotnov,216370,15

In [119]:
print(len(player_IDs_DoB := link_DoB.player_id.unique()) , len(player_IDs := link.player_id.unique()))

16369 13842

In [10]:
#Is there players in players_ID that are not in players_ID_DoB?
#are these good matches?
len(missing_names :=player_IDs[~np.isin(player_IDs , player_IDs_DoB)])

453

In [11]:
missing_players = link.loc[link.player_id.isin(missing_names),:].copy()

In [19]:
locs = locals()
#missing_players.drop(columns = ['fifa_last_name' ,'last_name' ,'last_name_compare'], inplace = True)
missing_players['DoB'] = missing_players.player_id.apply(lambda x : players.loc[players.player_id == x , 'date_of_birth'].values[0])
missing_players['fifa_DoB'] = missing_players.apply(lambda x: locs['fifa'+str(x['which_fifa'])].loc[x['fifa_index'],'dob']  , axis = 1)
missing_players = missing_players.drop(missing_players.loc[missing_players.DoB.isnull(),:].index).reset_index(drop=True)

In [28]:
good_miss = missing_players.apply(lambda x : re.search(r'^\d+',x['DoB']).group(0) == re.search(r'^\d+',x['fifa_DoB']).group(0) ,axis = 1 )
good_missing_players = missing_players.loc[good_miss,:].reset_index(drop= True)

In [38]:
tt = good_missing_players.groupby('player_id')['sofifa_id'].unique().reset_index()
tt.loc[tt.sofifa_id.apply(len)>1,:'player_id'].values[0][0]

509247

In [45]:
good_missing_players = good_missing_players.drop(good_missing_players.loc[good_missing_players.sofifa_id == 243643,:].index).reset_index(drop = True)

In [46]:
good_missing_players.loc[good_missing_players.player_id == 509247, :]

,player_id,name,fifa_index,name_compare,sofifa_id,which_fifa,DoB,fifa_DoB
409,509247,euan henderson,17600,euan henderson,240806,18,2000-06-29,2000-06-26

In [48]:
good_missing_players.drop(columns = ['DoB' ,'fifa_DoB'],inplace = True)

In [49]:
link_DoB = pd.concat([link_DoB,good_missing_players])

In [65]:
tt = link_DoB.groupby('player_id')['sofifa_id'].unique().reset_index()
mm = tt.loc[tt.sofifa_id.apply(len)>1,:'player_id'].values.squeeze()

In [60]:
link_DoB.loc[link_DoB.player_id.isin(mm),:].sort_values('player_id')
link_DoB['DoB'] = link_DoB.player_id.apply(lambda x : players.loc[players.player_id == x , 'date_of_birth'].values[0])
link_DoB['fifa_DoB'] = link_DoB.apply(lambda x: locs['fifa'+str(x['which_fifa'])].loc[x['fifa_index'],'dob']  , axis = 1)

In [110]:
link_DoB = link_DoB.drop([6426,13576,38089,46387,62326]).reset_index(drop = True)
#tt = link_DoB.groupby('player_id')['sofifa_id'].unique().reset_index()
#mm = tt.loc[tt.sofifa_id.apply(len)>1,:'player_id'].values.squeeze()

In [109]:
link_DoB.loc[link_DoB.player_id.isin(mm),:].sort_values(["player_id", "name_compare"], ascending = (False, False)).head(20)

,player_id,name,fifa_index,name_compare,sofifa_id,which_fifa,DoB,fifa_DoB
6426,66117,angel martinez,287,inigo martinez berridi,204525,15,1991-05-17,1991-05-17
13576,66117,angel martinez,382,inigo martinez berridi,204525,16,1991-05-17,1991-05-17
38089,66117,angel martinez,649,inigo martinez berridi,204525,19,1991-05-17,1991-05-17
46387,66117,angel martinez,499,inigo martinez berridi,204525,20,1991-05-17,1991-05-17
62326,66117,angel martinez,324,inigo martinez berridi,204525,22,1991-05-17,1991-05-17
21507,66117,angel martinez,6810,angel martinez ortega,197441,17,1991-05-17,1991-05-17
29796,66117,angel martinez,5189,angel martinez ortega,197441,18,1991-05-17,1991-05-17
54499,66117,angel martinez,8593,angel martinez ortega,197441,21,1991-05-17,1991-05-17

In [115]:
link_DoB.drop(columns = ['DoB' ,'fifa_DoB'],inplace = True)

In [116]:
link_DoB.to_csv('../data/table_correspondance/table_correspondance_finale.csv')