In [84]:
import pandas as pd
import numpy as np
import re
import json

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [7]:
jul = pd.read_csv('uber-trip-data/Juillet.csv')
jul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 796121 entries, 0 to 796120
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date/Time  796121 non-null  object
 1   Lat        796121 non-null  float64
 2   Lon        796121 non-null  float64
 3   Base       796121 non-null  object
dtypes: float64(2), object(2)
memory usage: 24.3+ MB

In [114]:
df = pd.read_csv('uber-trip-data/Juillet.csv', usecols=['Date/Time', 'Lat', 'Lon'], dtype={'Lat' : np.float32, 'Lon' : np.float32 })
df.rename(columns={'Date/Time':'date'}, inplace = True)
df['hour'] = df.date.apply(lambda x: int(re.search(' \d*\d:', x).group()[:-1]))
df.date = df.date.apply( lambda x : re.match(r'\d+/\d+/\d+ ', x).group(0))
df.date = pd.to_datetime(df.date)
df['dayofweek'] = df.date.dt.dayofweek
df.to_csv('uber-trip-data/Juillet.csv', index = False)

In [118]:
df = pd.read_csv('uber-trip-data/Aout.csv', usecols=['Date/Time', 'Lat', 'Lon'], dtype={'Lat' : np.float32, 'Lon' : np.float32 })
df.rename(columns={'Date/Time':'date'}, inplace = True)
df['hour'] = df.date.apply(lambda x: int(re.search(' \d*\d:', x).group()[:-1]))
df.date = df.date.apply( lambda x : re.match(r'\d+/\d+/\d+ ', x).group(0))
df.date = pd.to_datetime(df.date)
df['dayofweek'] = df.date.dt.dayofweek
df.to_csv('uber-trip-data/Aout.csv', index = False)

In [120]:
df = pd.read_csv('uber-trip-data/Juin.csv', usecols=['Date/Time', 'Lat', 'Lon'], dtype={'Lat' : np.float32, 'Lon' : np.float32 })
df.rename(columns={'Date/Time':'date'}, inplace = True)
df['hour'] = df.date.apply(lambda x: int(re.search(' \d*\d:', x).group()[:-1]))
df.date = df.date.apply( lambda x : re.match(r'\d+/\d+/\d+ ', x).group(0))
df.date = pd.to_datetime(df.date)
df['dayofweek'] = df.date.dt.dayofweek
df.to_csv('uber-trip-data/Juin.csv', index = False)

In [121]:
df = pd.read_csv('uber-trip-data/Mai.csv', usecols=['Date/Time', 'Lat', 'Lon'], dtype={'Lat' : np.float32, 'Lon' : np.float32 })
df.rename(columns={'Date/Time':'date'}, inplace = True)
df['hour'] = df.date.apply(lambda x: int(re.search(' \d*\d:', x).group()[:-1]))
df.date = df.date.apply( lambda x : re.match(r'\d+/\d+/\d+ ', x).group(0))
df.date = pd.to_datetime(df.date)
df['dayofweek'] = df.date.dt.dayofweek
df.to_csv('uber-trip-data/Mai.csv', index = False)

In [123]:
df

             date        Lat        Lon  hour  dayofweek
0      2014-05-01  40.752102 -73.991402     0          3
1      2014-05-01  40.696499 -73.971497     0          3
2      2014-05-01  40.746399 -73.983803     0          3
3      2014-05-01  40.746300 -74.001099     0          3
4      2014-05-01  40.759399 -73.973396     0          3
...           ...        ...        ...   ...        ...
652430 2014-05-31  40.730900 -74.001404    23          5
652431 2014-05-31  40.752800 -73.979797    23          5
652432 2014-05-31  40.715801 -73.951897    23          5
652433 2014-05-31  40.696098 -73.899696    23          5
652434 2014-05-31  40.739300 -73.991898    23          5

[652435 rows x 5 columns]

In [39]:
ddf = ddf.to_json()

In [37]:
pd.read_json(ddf, dtype={'Lat' : np.float16, 'Lon' : np.float16 })

In [43]:
df[['Lat', 'Lon']].values

array([[ 40.75, -74.  ],
       [ 40.75, -74.  ],
       [ 40.72, -74.  ],
       ...,
       [ 40.7 , -73.94],
       [ 40.72, -74.  ],
       [ 40.72, -74.  ]], dtype=float16)

In [45]:
range(1,15)[-1]

14

In [60]:
tt = [4,5,6]
kk = 4
pp = {'tt' : tt, 'kk' : kk}
ll = json.dumps(pp)

In [61]:
ll

'{"tt": [4, 5, 6], "kk": 4}'

In [64]:
json.loads(ll)

{'tt': [4, 5, 6], 'kk': 4}

In [98]:
    filepath = './uber-trip-data/' + 'Juillet' + '.csv'
    full_month =  pd.read_csv(filepath, usecols=['Date/Time', 'Lat', 'Lon'], dtype={'Lat' : np.float32, 'Lon' : np.float32 })
    full_month.rename(columns={'Date/Time':'date'}, inplace = True)

    # Selection des heures
    hour = full_month.date.apply(lambda x: int(re.search(' \d*\d:', x).group()[:-1]))
    full_month.date = full_month.date.apply( lambda x : re.match(r'\d+/\d+/\d+ ', x).group(0))
    full_month = full_month.loc[(hour >= 10 ) & (hour <= 11 ), :].copy()

    # Selection du jour
    full_month.loc[:, 'date'] = pd.to_datetime(full_month['date'])
    full_month = full_month.loc[full_month.date.dt.dayofweek == 0, :]
    df = full_month.copy()

In [94]:

elbow = []
kmeans_list = []
k = []
best_elbow = 0
X = df[['Lat', 'Lon']].values

    

for i in (range_elbow := range(1, 15)) :
    kmeans = KMeans(n_clusters=i, random_state=0)
    kmeans.fit(X)
    kmeans_list.append(kmeans.labels_.tolist())
    elbow.append(kmeans.inertia_)
    k.append(i)
elbow = np.asarray(elbow)
elbow = elbow / elbow[0]
#Approximation du meilleur elbow
pente = (elbow[-1]-elbow[0])/(range_elbow[-1]-range_elbow[0])
for i in range_elbow[1:]:
    d_elbow = elbow[i]-elbow[i-1]
    if d_elbow > pente:
        best_elbow = i
        break

    
elbow_json = json.dumps({'kmeans_list' : kmeans_list, 'best_elbow': best_elbow})

In [93]:
type(json.loads(elbow_json)['kmeans_list'][1][0])

int

In [95]:
kmeans_list, best_elbow  = json.loads(elbow_json)['kmeans_list'], json.loads(elbow_json)['best_elbow']

X = np.asarray(df[['Lat', 'Lon']])

##global best_sil, best_kmeans
sil = []
k = []
if best_elbow + 6 < 15:
    for i in range(best_elbow, best_elbow + 6):
        sil.append(silhouette_score(X, kmeans_list[i]))
        k.append(i)
else:
    for i in range(best_elbow, 15):
        sil.append(silhouette_score(X, kmeans_list[i]))
        k.append(i)
sil = np.asarray(sil)
best_sil = k[sil.argsort()[-1]]
best_kmeans = kmeans_list[best_sil]

best_json = json.dumps({'best_sil' : best_sil, 'best_kmeans' : best_kmeans})

In [99]:
df

             date        Lat        Lon
4865   2014-07-07  40.644699 -73.782303
4866   2014-07-07  40.746799 -73.995796
4867   2014-07-07  40.768299 -73.862198
4868   2014-07-07  40.768299 -73.862198
4869   2014-07-07  40.765301 -73.975197
...           ...        ...        ...
795008 2014-07-28  40.723999 -73.989998
795009 2014-07-28  40.750702 -73.992599
795010 2014-07-28  40.759602 -73.967903
795011 2014-07-28  40.743999 -73.987801
795012 2014-07-28  40.768299 -73.957603

[6915 rows x 3 columns]

In [124]:
json.dumps({'kmeans_list' : [], 'i': 0})

'{"kmeans_list": [], "i": 0}'

In [127]:
#e&&!!e.circular}

[1]