In [4]:
import pandas as pd
import json
import numpy as np

In [2]:
meteo=pd.read_json('meteo.json')
display(meteo.head(1))
df_ville = pd.read_csv('villes.csv')
df_ville.head(1)

,day0,day1,day2,day3,day4,day5,day6,day7
0,"{'dt': 1644494400, 'sunrise': 1644477754, 'sun...","{'dt': 1644580800, 'sunrise': 1644564057, 'sun...","{'dt': 1644667200, 'sunrise': 1644650359, 'sun...","{'dt': 1644753600, 'sunrise': 1644736659, 'sun...","{'dt': 1644840000, 'sunrise': 1644822958, 'sun...","{'dt': 1644926400, 'sunrise': 1644909256, 'sun...","{'dt': 1645012800, 'sunrise': 1644995552, 'sun...","{'dt': 1645099200, 'sunrise': 1645081847, 'sun..."

              Places   latitude  longitude
0  Mont Saint Michel  48.635523  -1.510257

In [6]:
def rempli_jour(jour,j):
    
    for i in range(jour.shape[0]):
        jour.loc[i,'jour'] = int(j)
        jour.loc[i,'date'] = meteo.iloc[i,j]['dt']
        jour.loc[i,'Tmin'] = meteo.iloc[i,j]['temp']['min']-273.15
        jour.loc[i,'Tmax'] = meteo.iloc[i,j]['temp']['max']-273.15
        jour.loc[i,'Humidity'] = meteo.iloc[i,j]['humidity']
        jour.loc[i,'Weather'] = meteo.iloc[i,j]['weather'][0]['main'] + " (" + meteo.iloc[i,j]['weather'][0]['description'] + ')'
        jour.loc[i,'clouds'] = meteo.iloc[i,j]['clouds']
        jour.loc[i,'WeatherCode'] = meteo.iloc[i,j]['weather'][0]['id']
        jour.loc[i,'icone'] = 'http://openweathermap.org/img/wn/'+meteo.iloc[i,j]['weather'][0]['icon']+'.png'
    jour.date = pd.to_datetime(jour.date, unit = 's')
    return None

locs = locals()
for i in range(8):
    locs['jour_'+str(i)] = df_ville.copy()
    rempli_jour( locs['jour_'+str(i)] ,i)
    
jour_0.head(1)

,Places,latitude,longitude,jour,date,Tmin,Tmax,Humidity,Weather,clouds,WeatherCode,icone
0,Mont Saint Michel,48.635523,-1.510257,0.0,2022-02-10 12:00:00,4.34,9.06,84.0,Rain (light rain),99.0,500.0,http://openweathermap.org/img/wn/10d.png

In [9]:
# construisons un grand dataframe avec les donn√©es de toute la semaine
meteo_week = pd.concat([locs['jour_'+str(i)] for i in range(8)]).reset_index(drop = True)

In [10]:
meteo_week.to_csv("meteo_week.csv", index = False)