In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import json
import re

In [1]:
!pip install plotly==4.9.0 -q
!pip install jupyterlab "ipywidgets>=7.5" -q
!jupyter labextension install jupyterlab-plotly@4.9.0 -q
!jupyter lab build -q

usage: jupyter-labextension [-h] [--debug] [--show-config]
                            [--show-config-json] [--generate-config] [-y]
                            [--no-build] [--no-minimize] [--clean]
                            [--splice-source]
                            [--log-level InstallLabExtensionApp.log_level]
                            [--config InstallLabExtensionApp.config_file]
                            [--app-dir InstallLabExtensionApp.app_dir]
                            [--dev-build [InstallLabExtensionApp.dev_build]]
                            [--minimize InstallLabExtensionApp.minimize]
                            [--debug-log-path InstallLabExtensionApp.debug_log_path]
                            [--pin-version-as InstallLabExtensionApp.pin]
                            [extra_args ...]
jupyter-labextension: error: argument -q: expected one argument
usage: jupyter-lab [-h] [--debug] [--show-config] [--show-config-json]
                   [--generate-config] [-y] [--no-minimize] [--splice-source]
                   [--log-level LabBuildApp.log_level]
                   [--config LabBuildApp.config_file]
                   [--app-dir LabBuildApp.app_dir] [--name LabBuildApp.name]
                   [--version LabBuildApp.version]
                   [--dev-build [LabBuildApp.dev_build]]
                   [--minimize LabBuildApp.minimize]
                   [--debug-log-path LabBuildApp.debug_log_path]
                   [extra_args ...]
jupyter-lab: error: argument -q: expected one argument

## Créer une DF avec les villes et leurs coordonées

In [3]:
ville=["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre",
"Rouen",
"Paris",
"Amiens",
"Lille",
"Strasbourg",
"Chateau du Haut Koenigsbourg",
"Colmar",
"Eguisheim",
"Besancon",
"Dijon",
"Annecy",
"Grenoble",
"Lyon",
"Gorges du Verdon",
"Bormes les Mimosas",
"Cassis",
"Marseille",
"Aix en Provence",
"Avignon",
"Uzes",
"Nimes",
"Aigues Mortes",
"Saintes Maries de la mer",
"Collioure",
"Carcassonne",
"Ariege",
"Toulouse",
"Montauban",
"Biarritz",
"Bayonne",
"La Rochelle"]

In [7]:
#on créé la dataframe
df_ville=pd.DataFrame(ville)
url='https://nominatim.openstreetmap.org/search.php?q={}&country=France&format=jsonv2'

lat=[]
lon=[]

for i in range(len(ville)):
    print(ville[i], end = ' ')
    r=requests.get(url.format(ville[i]))
    lat.append(r.json()[0]['lat'])
    lon.append(r.json()[0]['lon'])

df_ville['latitude']=lat
df_ville['longitude']=lon 
df_ville.head()

Mont Saint Michel St Malo Bayeux Le Havre Rouen Paris Amiens Lille Strasbourg Chateau du Haut Koenigsbourg Colmar Eguisheim Besancon Dijon Annecy Grenoble Lyon Gorges du Verdon Bormes les Mimosas Cassis Marseille Aix en Provence Avignon Uzes Nimes Aigues Mortes Saintes Maries de la mer Collioure Carcassonne Ariege Toulouse Montauban Biarritz Bayonne La Rochelle

                   0    latitude           longitude
0  Mont Saint Michel  48.6359541  -1.511459954959514
1            St Malo   48.649518          -2.0260409
2             Bayeux  49.2764624          -0.7024738
3           Le Havre  49.4938975           0.1079732
4              Rouen  49.4404591           1.0939658

In [8]:
#df_ville = df_ville.rename(columns={0:'Places'},inplace=True)
type(df_ville.rename(columns={0:'Places'},inplace=True))
df_ville.head()

              Places    latitude           longitude
0  Mont Saint Michel  48.6359541  -1.511459954959514
1            St Malo   48.649518          -2.0260409
2             Bayeux  49.2764624          -0.7024738
3           Le Havre  49.4938975           0.1079732
4              Rouen  49.4404591           1.0939658

In [ ]:
#on enregistre ce dataframe en csv
df_ville.to_csv('villes.csv',index=False)

In [4]:
#EXECUTER CETTE CELLULE SI villes.csv EXISTE POUR NE PAS AVOIR A REFAIRE LE SCRAPING
df_ville = pd.read_csv('villes.csv')
df_ville.head()

              Places   latitude  longitude
0  Mont Saint Michel  48.635523  -1.510257
1            St Malo  48.649518  -2.026041
2             Bayeux  49.276462  -0.702474
3           Le Havre  49.493898   0.107973
4              Rouen  49.440459   1.093966

## Récupérer les données météo pour la semaine

In [ ]:
apikey='50c2f1c97c97d43a85cdbab142865185'



d={}
for i in range(8):
        d["day"+str(i)]=[]
    
for i in range(len(ville)):
    
    lat1=df_ville.loc[i,'latitude']
    lon1=df_ville.loc[i,'longitude']
    url=f"https://api.openweathermap.org/data/2.5/onecall?lat={lat1}&lon={lon1}&appid={apikey}&exclude=minutely"
    r=requests.get(url)
    
    for i in range(8):
        d["day"+str(i)].append(r.json()['daily'][i])

with open("meteo.json", 'w') as m_json:
    m_json.write(json.dumps(d))
        
meteo=pd.read_json('meteo.json')
meteo.head(1)

,day0,day1,day2,day3,day4,day5,day6,day7
0,"{'dt': 1644494400, 'sunrise': 1644477754, 'sun...","{'dt': 1644580800, 'sunrise': 1644564057, 'sun...","{'dt': 1644667200, 'sunrise': 1644650359, 'sun...","{'dt': 1644753600, 'sunrise': 1644736659, 'sun...","{'dt': 1644840000, 'sunrise': 1644822958, 'sun...","{'dt': 1644926400, 'sunrise': 1644909256, 'sun...","{'dt': 1645012800, 'sunrise': 1644995552, 'sun...","{'dt': 1645099200, 'sunrise': 1645081847, 'sun..."

In [32]:
#EXECUTER CETTE CELLULE SI METEO.CSV EXISTE DEJA
meteo=pd.read_json('meteo.json')
meteo.head(1)

,day0,day1,day2,day3,day4,day5,day6,day7
0,"{'dt': 1644494400, 'sunrise': 1644477754, 'sun...","{'dt': 1644580800, 'sunrise': 1644564057, 'sun...","{'dt': 1644667200, 'sunrise': 1644650359, 'sun...","{'dt': 1644753600, 'sunrise': 1644736659, 'sun...","{'dt': 1644840000, 'sunrise': 1644822958, 'sun...","{'dt': 1644926400, 'sunrise': 1644909256, 'sun...","{'dt': 1645012800, 'sunrise': 1644995552, 'sun...","{'dt': 1645099200, 'sunrise': 1645081847, 'sun..."

## On selectionne et on organise nos données météo par journée

In [36]:
def rempli_jour(jour,j):
    
    for i in range(jour.shape[0]):
        jour.loc[i,'date'] = meteo.iloc[i,j]['dt']
        jour.loc[i,'Tmin'] = meteo.iloc[i,j]['temp']['min']-273.15
        jour.loc[i,'Tmax'] = meteo.iloc[i,j]['temp']['max']-273.15
        jour.loc[i,'Humidity'] = meteo.iloc[i,j]['humidity']
        jour.loc[i,'Weather'] = meteo.iloc[i,j]['weather'][0]['main'] + " (" + meteo.iloc[i,j]['weather'][0]['description'] + ')'
        jour.loc[i,'clouds'] = meteo.iloc[i,j]['clouds']
        jour.loc[i,'WeatherCode'] = meteo.iloc[i,j]['weather'][0]['id']
        jour.loc[i,'icone'] = 'http://openweathermap.org/img/wn/'+meteo.iloc[i,j]['weather'][0]['icon']+'.png'
    jour.date = pd.to_datetime(jour.date, unit = 's')
    return None

locs = locals()
for i in range(8):
    locs['jour_'+str(i)] = df_ville.copy()
    rempli_jour( locs['jour_'+str(i)] ,i)
    
jour_0.head(1)

,Places,latitude,longitude,date,Tmin,Tmax,Humidity,Weather,clouds,WeatherCode,icone
0,Mont Saint Michel,48.635523,-1.510257,2022-02-10 12:00:00,4.34,9.06,84.0,Rain (light rain),99.0,500.0,http://openweathermap.org/img/wn/10d.png

## Scraping de Booking.com

In [ ]:
#!pip install scrapy

In [1]:
import scrapy
import os
import logging
from scrapy.crawler import CrawlerProcess
from scrapy.http import Request
import pandas as pd
df=pd.read_csv('villes.csv')
df.head()
villes=df.iloc[:,0].to_list()
villes[0]

'Mont Saint Michel'

In [ ]:
class BookingSpider2(scrapy.Spider):
    
    i=0
    j=0
    nb_page=2
    ville = villes
    name = "booking"
    init_url=''
    
    start_urls = ["https://www.booking.com/"]
    
    
    def parse(self, response):
        self.i=0
        #print(response.body)
        print(self.ville[self.j])


        return scrapy.FormRequest.from_response(
            
            response,
            formdata={'ss': self.ville[self.j]},
            callback=self.after_search 
            
            )
    
    
    def after_search(self, response):
        if self.i == 0:
            self.init_url = response.url
            
        if self.i < self.nb_page:                        #répète le scraping sur les 3 premières pages.
            
            print( self.ville[self.j], ', page', self.i+1)
            #print(response.url)
            
            try:
                containers = response.css('div._7192d3184')
                
            except:
                logging.info('fin prématurée du scraping pour ce lieu')
                self.i = self.nb_page
                
            else:
                for container in containers:  

                    name = container.css( 'div.fde444d7ef::text').get()  
                    url = container.css('a._89c03ca2c').attrib['href']
                    #coord = container.css('div.sr_card_address_line a.bui-link').attrib['data-coords']

                    #certains blocs n'ont pas de notes car ce sont des hotels récemments ajoutés sur booking.com
                    #dans ce cas de figure: try/except sur la note
                    try:
                        rank = container.css('div.bd528f9ea6::text').get()
                    except:
                        rank = 'New to Booking.com'
                    finally:
                        descr = container.css('div._29c344764 div._4abc4c3d5::text').get()

                        output = { 'Lieu' : self.ville[self.j], 'Nom' : name, "Score" : rank, "Description" : descr, 'Lien' : url} 

                    yield output 

                self.i +=1
                next_page = self.init_url + '&offset=' + str(self.i*25)
                yield response.follow(next_page, callback=self.after_search)
                
        elif self.i >= self.nb_page:
            logging.info('toutes les pages ont été scrapées pour cette ville!')
            self.j += 1
            
            if self.j < len(self.ville):
                
                #logging.info('On passe à la ville suivant')
                #logging.info(self.j)
                self.i=0
                
                yield response.follow(self.start_urls[0], callback = self.parse, dont_filter = True)
                
            else:
                
                logging.info('Plus de page, fin de la fin')

In [2]:
class BookingSpider3(scrapy.Spider):
    
    i=0
    j=0
    nb_page=2
    ville = villes
    name = "booking"
    init_url=''
    
    start_urls = ["https://www.booking.com/"]
    
    
    def parse(self, response):
        self.i=0
        #print(response.body)
        print(self.ville[self.j])


        return scrapy.FormRequest.from_response(
            
            response,
            formdata={'ss': self.ville[self.j]},
            callback=self.after_search 
            
            )
    
    
    def after_search(self, response):
        if self.i == 0:
            self.init_url = response.url
            
        if self.i < self.nb_page:                        #répète le scraping sur les 3 premières pages.
            
            print( self.ville[self.j], ', page', self.i+1)
            #print(response.url)
            
            try:
                containers = response.css('div._7192d3184')
                
            except:
                logging.info('fin prématurée du scraping pour ce lieu')
                self.i = self.nb_page
                
            else:
                for container in containers:  

                    name = container.css( 'div.fde444d7ef::text').get()  
                    url = container.css('a._89c03ca2c').attrib['href']
                    #coord = container.css('div.sr_card_address_line a.bui-link').attrib['data-coords']

                    #certains blocs n'ont pas de notes car ce sont des hotels récemments ajoutés sur booking.com
                    #dans ce cas de figure: try/except sur la note
                    try:
                        rank = container.css('div.bd528f9ea6::text').get()
                    except:
                        rank = 'New to Booking.com'
                    finally:
                        descr = container.css('div._29c344764 div._4abc4c3d5::text').get()

                        

                    yield Request(url, callback = self.hotel, meta = {'name' : name, 'url' : url, 'rank' : rank, 'descr' : descr}) 

                self.i +=1
                next_page = self.init_url + '&offset=' + str(self.i*25)
                yield response.follow(next_page, callback=self.after_search)
                
        elif self.i >= self.nb_page:
            logging.info('toutes les pages ont été scrapées pour cette ville!')
            self.j += 1
            
            if self.j < len(self.ville):
                
                #logging.info('On passe à la ville suivant')
                #logging.info(self.j)
                self.i=0
                
                yield response.follow(self.start_urls[0], callback = self.parse, dont_filter = True)
                
            else:
                
                logging.info('Plus de page, fin de la fin')
                
    def hotel(self, response):
        coord = response.css('a#hotel_header').attrib['data-atlas-latlng']
        output = { 'Lieu' : self.ville[self.j], 'Nom' : response.meta.get('name'), "Score" : response.meta.get('rank'), "Description" : response.meta.get('descr'), "Coordonnées" : coord, 'Lien' : response.meta.get('url')} 
        yield output

In [4]:
filename = "booking2.json"

if filename in os.listdir('.'):
    os.remove(filename)
    

process = CrawlerProcess(settings = {
    'USER_AGENT': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:78.0) Gecko/20100101 Firefox/78.0',
    'LOG_LEVEL': logging.INFO,
    "FEEDS": {
        filename : {"format": "json"},
    }
})

process.crawl(BookingSpider3)
process.start()

'filename = "booking2.json"\n\nif filename in os.listdir(\'.\'):\n    os.remove(filename)\n    \n\nprocess = CrawlerProcess(settings = {\n    \'USER_AGENT\': \'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:78.0) Gecko/20100101 Firefox/78.0\',\n    \'LOG_LEVEL\': logging.INFO,\n    "FEEDS": {\n        filename : {"format": "json"},\n    }\n})\n\nprocess.crawl(BookingSpider3)\nprocess.start()'

In [47]:
df_hotels=pd.read_json('booking2.json')
df_hotels.replace({'\n': ''}, regex=True, inplace = True)
df_hotels.replace({'\r': ''}, regex=True, inplace = True)

In [48]:
#transformons les coordonnées en latitude et longitude:
x = df_hotels.loc[0, 'Coordonnées']
re.search(r"^\d*.\d*", x).group(0)
re.search(r"\d*.\d*$", x).group(0)
df_hotels['lat'] = df_hotels.Coordonnées.apply(lambda x: float(re.search(r"^\d*.\d*", x).group(0)) )
df_hotels['lon'] = df_hotels.Coordonnées.apply(lambda x: float(re.search(r"\d*.\d*$", x).group(0)) )
df_hotels.drop(columns = ['Coordonnées'], inplace = True)
df_hotels.head(1)

,Lieu,Nom,Score,Description,Lien,lat,lon
0,Mont Saint Michel,CAMPING AUX POMMIERS - TOHAPI,8.4,Set in Le Mont Saint Michel in the Lower Norma...,https://www.booking.com/hotel/fr/camping-aux-p...,48.613555,1.5101

In [51]:
# Enregistrons les hotels au format csv
df_hotels.to_csv('booking.csv', index = False)

In [ ]:
#READ HOTELS:
df_hotels = pd.read_csv('booking.csv')
df_hotels.head(1)

,Lieu,Nom,Score,Description,Lien,lat,lon
0,Mont Saint Michel,CAMPING AUX POMMIERS - TOHAPI,8.4,Set in Le Mont Saint Michel in the Lower Norma...,https://www.booking.com/hotel/fr/camping-aux-p...,48.613555,1.5101

## push booking.json sur AWS S3

In [33]:
df_hotels.to_csv( 'booking.csv' , index = False)

In [ ]:
#!pip install boto3

In [ ]:
import boto3

In [ ]:
cle_acces = "AKIA2NKNK2ACFQDZA2WR"
cle_secrete = "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"
session = boto3.Session(aws_access_key_id = cle_acces , aws_secret_access_key = cle_secrete)

In [ ]:
s3= session.resource("s3")

In [ ]:
bucket = s3.create_bucket(Bucket='projet-kayak-1',
                          CreateBucketConfiguration={'LocationConstraint': 'eu-west-3',})

In [ ]:
#bucket = s3.Bucket('projet-kayak-1')
#bucket.objects.all().delete() #Si on souhaite nettoyer le bucket d'abord
#bucket.delete()
put_object = bucket.put_object(Key='BookingResult.json' , Body = BookingJson)
put_object = bucket.put_object(Key='BookingResult.csv' , Body = BookingCSV)

## Display avec Plotly

In [ ]:
!pip install plotly==4.9.0
!pip install jupyterlab "ipywidgets>=7.5"
!jupyter labextension install jupyterlab-plotly@4.9.0
!jupyter lab build

In [73]:
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.io as pio

#pio.renderers.default = "iframe_connected"

# setting Jedha color palette as default
pio.templates["jedha"] = go.layout.Template(
    layout_colorway=["#4B9AC7", "#4BE8E0", "#9DD4F3", "#97FBF6", "#2A7FAF", "#23B1AB", "#0E3449", "#015955"]
)
pio.templates.default = "jedha"
pio.renderers.default = "iframe" # to be replaced by "iframe" if working on JULIE
from IPython.display import display

In [74]:
fig = px.scatter_mapbox(jour_0, 
                        lat="latitude", lon="longitude", 
                        color="clouds", size="Tmax", zoom = 4, 
                        mapbox_style="carto-positron")
fig.show()

In [42]:
jour_0.sort_values('Tmax', ascending = False).reset_index(drop = True).loc[:5,'latitude'].values

array([43.2130358, 43.6044622, 44.0175835, 43.8374249, 43.9492493,
       44.0121279])

In [79]:
fig = go.Figure()

mapbox_access_token = "pk.eyJ1Ijoiam9wZWNjaSIsImEiOiJja3pnd3BqcmMxNTA3MnlucmV4b2ZrcjhnIn0.sDXMYAdofPehfzBTYu6XFw"

# add selection based on different weather features
def return_values(weather_feature : str, info : str):
    return jour_0.sort_values(weather_feature, ascending = False).reset_index(drop = True).loc[:5, info].values

# based on Tmax
fig.add_trace(go.Scattermapbox(
    lat = return_values('Tmax', 'latitude'),
    lon = return_values('Tmax', 'longitude'),
    mode = 'markers',
    marker = dict(size = return_values('Tmax', 'Tmax')),
    subplot='mapbox'
))    
fig.update_layout(
    title='Nuclear Waste Sites on Campus',
    autosize=True,
    hovermode='closest',
    showlegend=False,
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=38,
            lon=-94
        ),
        pitch=0,
        zoom=3,
        style='light'
    ),
)


fig.show()

In [69]:
!pip install chart_studio -q

In [71]:
import chart_studio.plotly as py
import plotly.graph_objects as go

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/Nuclear%20Waste%20Sites%20on%20American%20Campuses.csv')
site_lat = df.lat
site_lon = df.lon
locations_name = df.text

data = [
    go.Scattermapbox(
        lat=site_lat,
        lon=site_lon,
        mode='markers',
        marker=dict(
            size=17,
            color='rgb(255, 0, 0)',
            opacity=0.7
        ),
        text=locations_name,
        hoverinfo='text'
    ),
    go.Scattermapbox(
        lat=site_lat,
        lon=site_lon,
        mode='markers',
        marker=dict(
            size=8,
            color='rgb(242, 177, 172)',
            opacity=0.7
        ),
        hoverinfo='none'
    )]


layout = go.Layout(
    title='Nuclear Waste Sites on Campus',
    autosize=True,
    hovermode='closest',
    showlegend=False,
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=38,
            lon=-94
        ),
        pitch=0,
        zoom=3,
        style='light'
    ),
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='jupyter-Nuclear Waste Sites on American Campuses')

KeyboardInterrupt:

|